:root {

  --background: #000000;

  --ligth-background: #0d0d0d;

  --purple: #4c0159;
}

#projects {
  background-color: var(--ligth-background);
}

/* .project-card {
  margin: 60px;
} */

.repositories-button {
  text-decoration: none;
  text-align: center;
  font-size: 1.3em;
  color: white;
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: cover -2% cover 33%;
  transition: 0.2s ease-in-out;
}

.repositories-button:hover {
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  /* .project-card {
    margin: 80px 0;
  } */
}