.no-project {
  display: flex;
  justify-content: center;
  margin-bottom: 38vh;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 280px;
  width: 270px;
  background-color: #000000;
  border: 4px solid #590159;
  border-radius: 10px;
  box-shadow: 0 0 20px #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  /* transform: rotate3d(1, 1, 1, 10deg); */
  opacity: 0.7;
}

.card:not(:first-child) {
  margin-top: -75px;
}

.card:hover {
  transform: scaleX(1.1) scaleY(1.1);
  box-shadow: 0 0 20px #700070a8;
  z-index: 8;
  transition: 0.3s ease-out;
  opacity: 1;
}

.card:hover ~ .card {
  position: relative;
  transition: 0.4s ease-out;
}

.title {
  text-align: center;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
}

.img-card {
  border-radius: 5px 5px 0 0;
}

.card p {
  color: white;
  display: flex;
  padding: 0 20px 10px;
  font-size: 1.03em;
}

.bar {
  position: absolute;
  top: 147px;
  height: 5px;
  width: 100%;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: linear-gradient(
    90deg,
    /* #111111 0%, */
    #006098 0%,
    rgb(205, 64, 120) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.links-projects {
  display: flex;
  flex-direction: column;
}

.links-projects a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 900;
}

.project-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  text-decoration: none;
}

/* .project-button a {
  color: white;
} */

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    margin: 0 0 100px ;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transform: scaleX(1.1) scaleY(1.1);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  .card:not(:first-child) {
    margin-left: -50px;
    margin-top: 0;
  }
}
