:root {

  --background: #000000;

  --ligth-background: #0d0d0d;

  --bar-background: #2e3033;

  --purple: #4c0159;
  
  --shadow-purple: #700070a8;

  --blue-gradient: #006098;

  --pink-gradient: #cd4078;
}

.no-project {
  display: flex;
  justify-content: center;
  margin-bottom: 38vh;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 290px;
  width: 280px;
  background-color: var(--background);
  border: 4px solid var(--purple);
  border-radius: 10px;
  box-shadow: 0 0 20px black;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  opacity: 0.7;
  animation: appear 1s linear;
  animation-timeline: view();
  animation-range: cover -2% cover 33%;
}

.card:not(:first-child) {
  margin-top: -75px;
}

.card:hover {
  transform: scaleX(1.1) scaleY(1.1);
  box-shadow: 0 0 20px var(--shadow-purple);
  z-index: 8;
  transition: 0.3s ease-out;
  opacity: 1;
}

.card:hover ~ .card {
  position: relative;
  transition: 0.4s ease-out;
}

.title {
  text-align: center;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
}

.img-card {
  border-radius: 5px 5px 0 0;
}

.card p {
  color: white;
  display: flex;
  padding: 0 20px 10px;
  font-size: 1.03em;
}

.bar {
  position: absolute;
  top: 154px;
  height: 5px;
  width: 100%;
}

.emptybar {
  background-color: var(--bar-background);
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: linear-gradient(
    90deg,
    var(--blue-gradient) 0%,
    var(--pink-gradient) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 100%;
  transition: 0.4s ease-out;
}

.links-projects {
  display: flex;
  flex-direction: column;
}

.links-projects a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 900;
}

.project-button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .card {
    height: 240px;
    width: 214px;
  }

  .card img {
    width: 100%;
  }

  .bar {
    top: 117px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    margin: 0 0 100px ;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transform: scaleX(1.1) scaleY(1.1);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }

  .card:not(:first-child) {
    margin-left: -50px;
    margin-top: 0;
  }
}
