body {
    background-color: #820AD1;
    background-image: url(/background.png);
    text-align: center;
    font-family: monospace;
}

header {
    background-color: black;
    color: #820AD1;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    padding: 22px;
    text-align: left;
}

.bemvindo {
    margin-left: 35px;
    font-size: 40px;
}

.navegacao {
    position: fixed;
    margin-top: 28px;
    margin-left: 70%;
}

a {
  padding: 15px;
  font-family: monospace;
  font-size: 21px;
  color: #820AD1;
  text-decoration: none;
}

a:hover {
  color: #a777c7;
}

a:active {
  color: #820AD1;
}

img {
    border-radius: 50% 23%;
    width: 230px;
    margin-top: 260px;
    margin-bottom: 30px;
}

.nome {
  font-size: 35px;
}

.inicio {
  padding-bottom: 217px;
}

.sobre-mim {
  padding-bottom: 100px;
}

.titulo {
margin-top: 100px;
font-size: 40px;
padding-top: 200px;
}

.sobre-mim .ola {
  text-align: start;
  margin-top: 160px;
  margin-left: 120px;
  font-size: 30px;
  color: #ba52ff;
}

.sobre-mim p {
  text-align: start;
  margin-left: 120px;
  width: 40%;
  font-size: 20px;
  color: white;
}

.projetos #projects {
  font-size: 35px;
}

.conteudo-projeto {
 margin: 75px 30px 30px 30px;
 width: 23%;
  text-align: center;
  background-color: white;
  padding: 20px 10px;
  border-radius: 5%;  
  display: inline-block;
 }

/*  .div-projeto {
  overflow-x: scroll;
 }
 */
.contact h2 {
  margin-top: 150px;
  margin-bottom: 75px;
}

section a {
  color: #000;
  background-color: #a777c7;
  margin: 0 70px;
  padding: 10px 15px;
  border: 1px solid white;
  border-radius: 8%;
  text-decoration: none;
}
section a:hover {
  padding: 12px 17px;
  margin: 0 68px;
  background-color: #ba52ff;
  color: #000;
}

section a:active {
  background-color: black;
  color: white;
}

footer {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  left: 0;
  padding: 5px;
  margin-top: 170px;
  line-height: 50%;
}

.obrigado {
  font-size: 22px;
}