* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #820ad1;
  background-image: url(/background.png);
}

.menu-container {
  position: fixed;
  width: 100%;
  background-color: black;
  padding: 20px 0;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu {
  display: flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.menu section a {
  margin-left: 20px;
}

.img-inicial {
  width: 230px;
  border-radius: 50% 23%;
  margin-top: 260px;
  margin-bottom: 30px;
}

.nome {
  font-size: 35px;
}

.inicio {
  padding-bottom: 217px;
}

.sobre-mim {
  display: flex;
  flex-flow: column wrap;
}

.titulo {
  margin-top: 100px;
  font-size: 40px;
  padding-top: 200px;
  display: flex;
  justify-content: center;
}

.conteudo-sobremim {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 160px 0 100px;
}

.sobre-mim .ola {
  font-size: 30px;
  color: #ba52ff;
}

.sobre-mim p {
  width: 400px;
  font-size: 20px;
  color: white;
}

.img-sobremim {
  width: 400px;
  border-radius: 10px;
}

.projetos #projects {
  font-size: 35px;
  margin-bottom: 50px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-projeto {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.conteudo-projeto {
  display: flex;
  flex-direction: column;
  width: 470px;
  margin: 20px 10px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

.contact h2 {
  margin-top: 130px;
  margin-bottom: 90px;
}

.footer {
  background-color: black;
  color: white;
  padding: 15px 0;
  margin-top: 69px;
}
