#contact {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 20vh;
  min-height: 85vh;
}

#contact .h1-title {
  color: white;

}

.links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  /* margin-bottom: 100px; */
}

.links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-weight: 900;
  width: 80px;
  height: 80px;
  border-radius: 40%;
}

.links a:hover {
  box-shadow: inset 0 0 20px 5px #700070a8;
}

#contact h2 {
  font-size: 1.9em;
  text-align: center;
}

.links img {
  filter: invert(100%);
  height: 50px;
  margin-bottom: 8px;
  width: 50px;
}

@media screen and (min-width: 768px) {
  #contact h2 {
    font-size: 2.5em;
  }

  .links a {
    font-size: 1.5em;
  }

  .links img {
    height: 60px;
    width: 60px;
  }
}