footer {
  align-items: center;
  background-color: #04293A;
  color: white;
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100%;
  bottom: 0;
  padding: 40px;
}


@media screen and (max-width: 410px) {
  footer h2 {
    font-size: 20px;
  }
  
}

@media screen and (max-width: 340px) {
  footer h2 {
    font-size: 18px;
  }
  
}