:root {

  --background: #000000;

  --ligth-background: #0d0d0d;

  --purple: #4c0159;
  
  --shadow-purple: #700070a8;
}

footer {
  align-items: center;
  text-align: center;
  background-color: var(--ligth-background);
  color: white;
  display: flex;
  justify-content: center;
  height: 15vh;
  width: 100%;
  bottom: 0;
  padding: 40px;
}


@media screen and (max-width: 410px) {
  footer h2 {
    font-size: 1.1em;
  }
  
}

/* @media screen and (max-width: 340px) {
  footer h2 {
    font-size: 18px;
  }
  
} */