:root {

  --background: #000000;

  --ligth-background: #0d0d0d;

  --bar-background: #2e3033;

  --purple: #4c0159;

  --ligth-purple: #662383;
  
  --shadow-purple: #700070a8;

  --blue-gradient: #006098;

  --pink-gradient: #cd4078;
}

/* width */
::-webkit-scrollbar {
  background: black;
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px var(--bar-background); */
  background: black;
  /* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ligth-purple);
  border-radius: 10px;
}

body {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

section {
  display: flex;
  flex-direction: column;
  padding: 80px 8%;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  /* min-height: 100vh; */
}

.h1-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
  animation: appearTitles 1ms linear both;
  animation-timeline: view(y);
  animation-range: cover -2% cover 33%;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: .6;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appearTitles {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@media screen and (min-width: 768px) {
  section {
  padding: 100px 10%;
  gap: 100px;
  /* height: 100vh; */

  }

  .h1-title {
    font-size: 2.5rem;
  }
}
