body {
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  padding: 60px 8%;
  margin: 0;
  justify-content: flex-start;
  min-height: 100vh;
}

.h1-title {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2.2rem;
  text-transform: uppercase;
}


@media screen and (min-width: 768px) {
  section {
  padding: 80px 10%;
  /* height: 100vh; */

  }

  .h1-title {
    font-size: 2.5rem;
  }
}
