#about-me {
  background-color: #ECB365;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.paragraphs {
  margin: 15px 0;
}

.paragraphs h1 {
  font-size: 25px;
  margin-top: 10px;
}

.paragraphs p {
  font-size: 22px;
  margin: 10px 0;
}

.about-content img {
  border-radius: 100px 50px;
  margin-top: 20px;
  /* height: 50vh; */
}

@media screen and (min-width: 768px){
  .about-content {
    display: flex;
    margin-bottom: 100px;
    flex-direction: row;
  }

  .about-content img {
  height: 50vh;
  margin-left: 5%;
  }
  
  .paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .paragraphs h1 {
    font-size: 30px;
  }
  
  
}
