#about-me {
  background-color: #0d0d0d;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.paragraphs {
  margin: 30px 0;
}

/* .paragraphs h1 {
  font-size: 25px;
  margin-top: 10px;
} */

.paragraphs p {
  font-size: 1.25em;
  margin: 10px 0;
  text-align: justify;
}

.about-content img {
  border-radius: 100px 50px;
  /* height: 50vh; */
  border: 5px solid #590159;
}

.about-content img:hover {
  box-shadow: 0 0 20px #700070a8;
}

@media screen and (min-width: 768px){
  .about-content {
    display: flex;
    margin-top: 13vh;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .about-content img {
    max-height: 60vh;
    max-width: 45vw;
    padding: 0;
  }

  .paragraphs {
    /* margin-bottom: 70px; */
    max-width: 40vw;
  }

.paragraphs p {
    margin: 0;
    font-size: 1.6em;
  }

/* .paragraphs p {
    font-size: 1.2em;
  } */
  
  
}
