:root {

  --background: #000000;

  --ligth-background: #0d0d0d;

  --purple: #4c0159;
  
  --shadow-purple: #700070a8;
}

#about-me {
  background-color: var(--ligth-background);
}

.about-content {
  display: flex;
  flex-direction: column;
}

.paragraphs {
  margin: 30px 0;
}

.paragraphs p {
  font-size: 1.25em;
  margin: 10px 0;
  text-align: justify;
}

.about-content img {
  border-radius: 100px 50px;
  border: 5px solid var(--purple);
}

.about-content img:hover {
  box-shadow: 0 0 20px var(--shadow-purple);
}

@media screen and (min-width: 768px){
  .about-content {
    display: flex;
    margin-top: 13vh;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .paragraphs {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .about-content img {
    max-height: 60vh;
    max-width: 45vw;
    padding: 0;
  }

  .paragraphs {
    max-width: 40vw;
  }

.paragraphs p {
    margin: 0;
    font-size: 1.6em;
  }
}
